// @font-face {
//     font-family: "bramble_font";
//     src: url('../font/iconfont.eot'); /* IE9*/
//     src: url('../font/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
// }


@font-face {font-family: "iconfont";
  src: url('http://at.alicdn.com/t/font_ugras2tyrg22o6r.eot?t=1481870964549');
  src: url('http://at.alicdn.com/t/font_ugras2tyrg22o6r.ttf?t=1481870964549') format('truetype');
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qr_code:before { content: "\e600"; }

.icon-wechat:before { content: "\e604"; }

.icon-alipay:before { content: "\e601"; }

.icon-qq1:before { content: "\e6a0"; }

.icon-wechat1:before { content: "\e633"; }

.icon-set:before { content: "\e602"; }

.icon-back:before { content: "\e610"; }

.icon-logo:before { content: "\e603"; }

.icon-shopping_cart:before { content: "\e605"; }

.icon-msg:before { content: "\e606"; }

.icon-coupon_bg:before { content: "\e607"; }

.icon-gift:before { content: "\e608"; }

.icon-discount_sup:before { content: "\e616"; }

.icon-search:before { content: "\e629"; }

.icon-sina:before { content: "\e621"; }

.icon-qq:before { content: "\e60f"; }

.icon-wechat_friends:before { content: "\e623"; }

.icon-qq_space:before { content: "\e611"; }

.icon-first:before { content: "\e625"; }

.icon-second:before { content: "\e626"; }

.icon-third:before { content: "\e627"; }

.icon-go:before { content: "\e62a"; }

.icon-scan:before { content: "\e62c"; }

.icon-home:before { content: "\e62d"; }

.icon-home_active:before { content: "\e62e"; }

.icon-9_9_active:before { content: "\e62f"; }

.icon-9_9:before { content: "\e630"; }

.icon-my_active:before { content: "\e631"; }

.icon-my:before { content: "\e632"; }

.icon-share1:before { content: "\e634"; }

.icon-invitation:before { content: "\e635"; }

.icon-taobao:before { content: "\e636"; }

.icon-share_active:before { content: "\e637"; }

.icon-share:before { content: "\e638"; }

.icon-detail:before { content: "\e639"; }

.icon-no_img:before { content: "\e609"; }

.icon-no_msg1:before { content: "\e60a"; }

.icon-no_msg:before { content: "\e60b"; }

.icon-no_income:before { content: "\e60c"; }

.icon-no_data:before { content: "\e60d"; }

.icon-crown:before { content: "\e60e"; }

.icon-smile:before { content: "\e612"; }


.icon-wechat,.icon-wechat_friends{
    color: #7bc00e;
}

.icon-qq{
    color: #a76666;
}
.icon-qq1{
    color: #fe4f3e;
}
.icon-qq_space{
    color: #297fd6;
}
.icon-sina{
    color: #e73d36;
}
.icon-invitation{
    color: #ff6363;
}
.icon-taobao{
    color: #f38f0e;
}
.icon-detail{
    color: #3ad4cb;
}
.icon-first{
    color: #f06d27;
}
.icon-second{
    color: #f79027;
}
.icon-third{
    color: #f8bf3a;
}
.icon-crown{
    color: #f9c03a;
}
.icon-gift{
    color: #f7472f;
}
