@main_color: #fe4f3e;
body{
    -webkit-font-smoothing: antialiased;
    user-select: none;
}
textarea {
    -webkit-appearance: none;
}
// 隐藏移动端滚动条
::-webkit-scrollbar {
    display: none;
}
.page{
    background-color: #f7f7f7;
}
.bar-nav{
    height: 3.2rem;
    padding-top: 1rem;
    background-color: #f7f7f7;
    & ~ .content {
        top: 3.2rem;
        &.pull-to-refresh-content{
            top: 1rem;
        }
    }
    &.bar-no-border{
        &:after{
            content: none;
        }
    }
    .icon-left{
        color: #3d4145;
    }
}

.buttons-tab .button.active {
    color: @main_color;
    border-color: @main_color;
}

.bar-tab{
    background-color: rgba(246, 241, 240, .95);
    z-index: 16;
    & ~ .content {
      bottom: 0;
      padding-bottom: 2.5rem;
    }
    .tab-item.active, .tab-item:active {
        color: @main_color;
    }
}
.bar{
    .icon-back{
        padding-right: .5rem;
    }
    .icon.pull-right{
        padding-left: .5rem;
    }
}
.bar .button-link,a{
    color: @main_color;
}
a{
    color: @main_color;
    &:active{
        color: darken(@main_color,10%);
    }
}
.list-block{
    margin: 1rem 0;
    >ul{
        &:before,&:after{
            content: none;
        }
    }
}
.preloader-indicator-modal{
    background-color: rgba(0, 0, 0, 0.65);
}
.content-block{
    margin: 0;
    padding: 0;
}
.swiper-pagination-bullet-active {
    background: @main_color;
}
.goods_list{
    min-height: 8rem;
    .icon_ct{
        height: 8rem;
        width: 100%;
        background-color: #f7f7f7;
        .icon{
            font-size: 4rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 8rem;
            color: #d8d8d8;
            text-align: center;
        }
    }
    li:not(.icon_ct){
        display: flex;
        padding: .75rem .5rem;
        .hairline(bottom,#f3f3f3);
        .goods_img{
            width: 5rem;
            height: 5rem;
            flex-shrink: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .goods_info{
            padding-left: 1rem;
            padding-right: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .goods_name{
                margin: 0;
                font-size: .8rem;
                color:#555;
                line-height: 1.05rem;
                position: relative;
                overflow: hidden;
                height: 2.1rem;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
            .goods_price_pre{
                margin: 0;
                font-size: .6rem;
                color: #5f646e;
            }
            .goods_price_now{
                margin: 0;
                color: @main_color;
                font-size: .6rem;
                .price_num{
                    font-size: 1.2rem;

                    position: relative;
                    &:after{
                        content: '券后价';
                        position: absolute;
                        background-color: #fff;
                        border: 1px solid @main_color;
                        right: -4em;
                        top: -0.5em;
                        font-size: .5rem;
                        line-height: 1;
                        padding: .15em .25em;
                        border-radius: 1em 1em 1em 0;
                        z-index: 2;
                    }
                }
            }
        }
        .icon-share1{
            position: absolute;
            top: .75rem;
            right: .5rem;
            padding-left: .5rem;
            padding-right: .25rem;
        }
        .goods_voucher{
            position: absolute;
            background-color: @main_color;
            right: .5rem;
            bottom: .75rem;
            color: #fff;
            border-left: 2px dotted #fff;
            border-right: 2px dotted #fff;
            font-size: .6rem;
            padding-left: .2rem;
            padding-right: 1.2rem;
            padding-top: .2rem;
            padding-bottom: .2rem;
            line-height: 1.1rem;
            font-weight: bold;
            .voucher_num{
                font-size: 1rem;
                line-height: 1.2rem;
                display: inline-block;
                vertical-align: bottom;
                position: relative;
                padding-left: .05rem;
                padding-right: .5rem;
                .hairline(right,#ffadad);
                &:after{
                    background-color: transparent;
                    width: 0;
                    border-right: 1px dashed #ffadad;
                }
            }
            &:after{
                content: '券';
                position: absolute;
                font-weight: normal;
                border: 1px solid #fff;
                right: .2rem;
                top: .4rem;
                font-size: .5rem;
                line-height: 1;
                padding: .15em;
                border-radius: 100%;
            }
        }
    }
}
.popup_share{
    background-color: rgba(0,0,0,0);
    .share_icons_ct{
        background-color: #f0f0f0;
        text-align: center;
        padding: 1rem 1rem 2.5rem;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        .hairline(bottom,#ccc);
        &:after{
            bottom: 2.425rem;
        }
        .share_icon_ct{
            background-color: #fff;
            width: 2.2rem;
            height: 2.2rem;
            margin: 0 auto;
            line-height: 2.2rem;
            border-radius: 100%;
            .icon{
                font-size: 1.2rem;
                vertical-align: baseline;
            }
        }
        .share_desc{
            font-size: .6rem;
        }
    }
    .share_cancel{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        color:#333;
        background: #fff;
        &.active, &:active {
            background: #fafafa;
        }
    }
}
