.page-share{
    background-color: #f7f7f7;
    .share_img{
        height: 9rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        background-image: url('../img/page_share_bg_x2.jpg');
        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
            background-image: url('../img/page_share_bg_x3.jpg');
        }
    }
    .invitations_info{
        padding: .5rem 0 .2rem;
        background-color: #fff;
        color: #666;
        .info_money{
            position: relative;
            .hairline(right,#ccc);
            &:after{
                top: .3rem;
                bottom: .5rem;
                width: 0;
                background-color: transparent;
                border-right: 1px dashed #aaa;
                height: auto;
            }
        }
        .info_money,.info_person{
            padding-left: 1rem;
            line-height: 1.2rem;
            .num{
                margin: 0;
                line-height: 2rem;
                font-size: 1.4rem;
                color: #555;
            }
        }
    }
    .user_share_code{
        margin: 1rem;
        text-align: center;
        color: #666;
        .share_code_num{
            color: @main_color;
        }
        .login_pre{
            text-decoration: underline;
            color: #0894ec;
        }
        .share_code_desc{
            font-size: .6rem;
        }
    }
    .btn_invitate{
        width: 85%;
        margin: 1rem auto;
    }
    .btn_invitations_list{
        color: #333;
        display: block;
        text-align: center;
        text-decoration: underline;
    }
    .ranking_list_ct{
        border: 1px solid #eee;
        border-radius: .3rem;
        width: 90%;
        margin: .5rem auto;
        background-color: #fff;
        .content-block-title{
            text-align: center;
            .icon{
                vertical-align: -.1rem;
                padding: 0 .25rem;
                font-size: 1rem;
            }
        }
        .list-block{
            margin-bottom: 0;
            .icon{
                font-size: 1rem;
            }
        }
        .ranking_list{
            border-radius: 0 0 .3rem .3rem;
            min-height: 8rem;
            .icon_ct{
                width: 100%;
                .icon{
                    font-size: 4rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    line-height: 8rem;
                    color: #d8d8d8;
                    text-align: center;
                }
            }
            .idx{
                display: inline-block;
                width: 1.2rem;
                text-align: center;
                color: #aaa;
            }
            .item-media{
                padding-top: .5rem;
            }
            .head_img{
                width: 1.6rem;
                height: 1.6rem;
                background-position: center center;
                background-size: cover;
            }
            .item-title{
                font-size: .7rem;
            }
            .item-after{
                font-size: .5rem;
            }
        }
    }
}

.page-invitation_details{
    .invitation_list{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        .icon_ct{
            width: 100%;
            position: relative;
            .icon{
                font-size: 4rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                line-height: 8rem;
                color: #d8d8d8;
                text-align: center;
            }
        }
        .friend{
            background-color: #fff;
            min-height: 5rem;
            padding-left: 4rem;
            margin-bottom: .5rem;
            .friend_info{
                float: left;
                width: 4rem;
                margin-top: .75rem;
                margin-left: -4rem;
                text-align: center;
                .friend_name{
                    font-size: .7rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 .5rem;
                    margin: 0;
                    line-height: 1.5rem;
                }
                .friend_img{
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-left: .875rem;
                    border-radius: 100%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .list-block{
                margin: 0;
                ul{
                    .item-title{
                        font-size: .7rem;
                    }
                    .item-after{
                        font-size: .5rem;
                    }
                    .no_income{
                        color: #ccc;
                        padding-left: 3rem;
                        .icon{
                            font-size: 3rem;
                            line-height: 5rem;
                        }
                    }
                }
            }
        }
    }
}


.page-invite_rule{
    .content{
        background-color: #fff;
        padding-bottom: 2rem;
    }
    .head_title{
        height: 7.2rem;
        background-image: url('../img/page_rule_bg_x2.jpg');
        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
            background-image: url('../img/page_rule_bg_x3.jpg');
        }
        background-size: cover;
        background-position: center center;
    }
    p.rule_title{
        margin: 0;
        padding-top: .25rem;
        text-align: center;
        color: #8c620d;
    }
    .rule_list{
        font-size: .7rem;
        margin: 0;
        li{
            padding: 1rem .5rem 0 0;
        }
    }
}
